body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

button {
    background: #5cb85c;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover {
    background: #4cae4c;
}

input[type="text"] {
    padding: 10px;
    width: calc(100% - 22px);
    margin: 10px 0;
}

#courseFormContainer,
#statisticsContainer,
#exploreContainer,
#contactContainer {
    display: none;
}

.welcome-container {
    display: block;
}

.topic-list {
    list-style-type: none;
    padding: 0;
}

.topic-list li {
    cursor: pointer;
    padding: 5px;
    background: #ddd;
}

.topic-list li:hover {
    background: #ccc;
}
